<!DOCTYPE html>
<html>
	<head>
		<title>WebForms Calculator</title>
	</head>
	<body>
		<form method="post" action="">
			<label for='value-a'>Value A</label>
			<input id='value-a' name='value-a' type='text'/>	
			<label for='value-b'>Value B</label>
			<input id='value-b' name='value-b' type='text'/>					
			<fieldset>
			<legend>Calculate:</legend>
			<input id='add'
				name='calc'
				type='radio'
				checked='checked'
				value='add'/>
			<label for=''>Add</label>
				<input id='subtract'
				name='calc'
				type='radio'
				value='subtract'/>
			<label for='subtract'>Subtract</label>
				<input id='multiply'
				name='calc'
				type='radio'
				value='multiply'/>
			<label for='multiply'>Multiply</label>
				<input id='divide'
				name='calc'
				type='radio'
				value='divide'/>
			<label for='divide'>Divide</label>
			</fieldset>
			<button>Submit</button>
			<label>Answer:</label>
		</form>
	</body>
</html>

@{
	if(IsPost) {
		if (Request["value-a"] != "" && Request["value-b"] != ""){
			int a = Convert.ToInt32(Request["value-a"]);
			int b = Convert.ToInt32(Request["value-b"]);
			string calcType = Request["calc"];
			
			if(calcType == "add") {
				int add = @a + @b;
				<p>Addition of @a and @b = @add</p>
			} else if (calcType == "subtract") {
				int subtract = @a - @b;
				<p>Subtraction of @a and @b = @subtract</p>
			} else if (calcType == "multiply") {
				int multiply = @a * @b;
				<p>Multiplication of @a and @b = @multiply</p>
			} else if (calcType == "divide") {
				int divide = @a / @b;
				<p>Division of @a and @b = @divide</p>
			}
		} else { <p>Please make sure you filled out each field!</p> }
	} else {}
}