@{

}
<!DOCTYPE html>
<html>
	<head>
		<title>WebForms Calculator</title>
	</head>
	<body>
		<form method="post" action="">
			<label for='value-a'>Value A</label>
			<input id='value-a' name='value-a' type='number'/>	
			<label for='value-b'>Value B</label>
			<input id='value-b' name='value-b' type='number'/>					
		</form>
	</body>
</html>