@{

}
<!DOCTYPE html>
<html>
	<head>
		<title>WebForms Calculator</title>
	</head>
	<body>
		<form method="post" action="">
			<label for='value-a'>Value A</label>
			<input id='value-a' name='value-a' type='number'/>	
			<label for='value-b'>Value B</label>
			<input id='value-b' name='value-b' type='number'/>					
		</form>
			<fieldset>
			<legend>Calculate:</legend>
			<input id='add'
				name='add'
				type='radio'
				value='add'/>
			<label for=''>Add</label>
				<input id='subtract'
				name='subtract'
				type='radio'
				value='subtract'/>
			<label for='subtract'>Subtract</label>
				<input id='multiply'
				name='multiply'
				type='radio'
				value='multiply'/>
			<label for='multiply'>Multiply</label>
				<input id='divide'
				name='divide'
				type='radio'
				value='divide'/>
			<label for='divide'>Divide</label>
				
			</fieldset>
	</body>
</html>